body {
    background-image: url('../testImages/wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center; /* Center the background image */
    margin: 0;
    padding: 0;
}

.webIcon{
    background-color: blue;
    width: 450px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: center;
    margin-top: 5%; /* Center content horizontally */
}

.webIcon p, .ForgotwebIcon p {
    color: white;
    font-size: 50px;
    margin: 0; /* Remove default margin */
}

.webIcon .hub, .ForgotwebIcon .hub {
    background-color: red;
    border-radius: 10px;
    color: white;
    margin-left: 10px; /* Add some space between "Wallpaper" and "Hub" */
}

.ForgotwebIcon {
    margin-top: 1%; /* Center content horizontally */
}

.LogForm {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.637);
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.userInfoAddress {
    margin-top: -3%;/* Display vertically */
}

.userInfoo {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-bottom: 5px;
    width: 100%;
}

.LogInText, .PasswordText, .SubmitButton, .userInfoAddress input {
    width: 100%;
    max-width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: rockwell;
    font-weight: bold;
}

.ShowPass {
    cursor: pointer;
}

.SubmitButton {
    margin-top: 10px;
    cursor: pointer;
    width:80px;
}

@media screen and (max-width: 600px) {
    .webIcon, .ForgotwebIcon {
        margin-top: 5%;
    }
    .LogForm, .RegForm {
        margin-top: 3vw;
        width:80%;
    }
}
